<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Face Mask Detector</title>
</head>
<body>
    <h1>Welcome to Face Mask Detector</h1>
    <div class="links">
        <a href="/upload">Image Upload for Mask Detection</a>
        <a href="/video">Live Video Mask Detection</a>
    </div>
</body>
</html> -->
<!-- ------------------------------------- -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <title>Vision-Mask-X</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo"><a href="/home">Vision-Mask-X</a></div>
        <nav class="nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/documentation">Documentation</a></li>
<!--                <li><a href="/report">Report</a></li>-->
                <!-- <li><a href="#">Contact</a></li> -->
            </ul>
        </nav>
        <a href="static/uploads/Report_of_Face_Mask_Detection.pdf" class="cta-button" download>Download Report</a>
    </header>


    <section class="hero">
        <div class="overlay"></div>
        <div class="hero-content">
            <!-- <h1>🛡️ ML-Model-Powered Realtime Face Mask Detection Alarm System</h1> -->
            <h1>🛡️ Realtime Face Mask Detection Alarm System</h1>
            <p>Stay safe and ensure compliance with real-time AI-driven mask detection technology. Our system provides fast, accurate, and reliable face mask detection in just a few clicks</p>
            <br>
            <h4>⚡ How It Works?</h4>
            <ul>
                <li><b>Upload an Image</b> – Choose an image, and our Machine Learning(ML) model will instantly analyze whether the person is wearing a mask or not.</li>
                <br>
                <li><b>Live Face Detection</b> – Turn on your webcam and get real-time mask detection alarm system using computer vision technology.</li>
                <br>
            </ul>
            <br>
            <div style="display: flex; justify-content: space-between;">
                <a href="/upload" class="cta-button">Upload an Image</a>
                <a href="/video" class="cta-button">Live Face Detection</a>
<!--                 <a href="/home">Home</a>-->
            </div>
        </div>
    </section>
<!--    <script src="./static/script.js"></script>-->
</body>
</html>

